<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <title>Create todo</title>
</head>
<body>
    {% include 'navbar.html' %}
    
    {% if method == 'edit' %}
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" >Todo Name</label>
            <input type="text" class="form-control" id="name" name="todo_name" value="{{object.todo_name}}">
        </div>
        <div class="mb-3" >
            <label for="description">Description</label>
            <textarea class="form-control"  id="description" name="description">{{object.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="status">Status</label>
            <select class="form-select" id="status" aria-label="Floating label select example" name="status">

            {% if object.status == 'Done' %}
                <option value="Done" selected >Done</option>
                <option value="Not done">Not done</option>

            {% elif object.status == 'Not Done' %}
                <option value="Done" >Done</option>
                <option value="Not done" selected >Not done</option>
            {% endif %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}


    {% if method == 'create' %}
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" >Todo Name</label>
            <input type="text" class="form-control" id="name" name="todo_name">
        </div>
        <div class="mb-3" >
            <label for="description">Description</label>
            <textarea class="form-control"  id="description" name="description"></textarea>
        </div>
        <div class="mb-3">
            <label for="status">Status</label>
            <select class="form-select" id="status" aria-label="Floating label select example" name="status">
              <option value="Done">Done</option>
              <option value="Not done">Not done</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}

</body>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</html>